<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> Nome da conta</th>
      <th scope="col">Data de vencimento</th>
      <th scope="col">Valor</th>
      <th scope="col">status </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>12-05-1999</td>
      <td>50,00</td>
      <td>a pagar </td>
      <td><button type="button" class="btn btn-primary btn-sm">Pagar</button> </td>
      <td><button type="button" class="btn btn-primary btn-sm">Alterar</button> </td>
      <td><button type="button" class="btn btn-primary btn-sm">Deletar</button> </td>
      
    </tr>
    <tr>
          <td>Mark</td>
          <td>12-05-1999</td>
          <td>50,00</td>
          <td>a pagar </td>
          <td><button type="button" class="btn btn-primary btn-sm">Pagar</button> </td>
          <td><button type="button" class="btn btn-primary btn-sm">Alterar</button> </td>
          <td><button type="button" class="btn btn-primary btn-sm">Deletar</button> </td>
          
    </tr>
    <tr>
          <td>Mark</td>
          <td>12-05-1999</td>
          <td>50,00</td>
          <td>a pagar </td>
          <td><button type="button" class="btn btn-primary btn-sm">Pagar</button> </td> 
          <td><button type="button" class="btn btn-primary btn-sm">Alterar</button> </td>   
          <td><button type="button" class="btn btn-primary btn-sm">Deletar</button> </td>
    </tr>
    
   
  </tbody>
</table>